<!-- Sidebar Direita -->
<div id="rightSidebar" class="fixed top-0 right-0 w-64 h-full bg-green-600 text-white transform translate-x-full transition-transform duration-300 z-40">
  <div class="p-4">
    <button id="closeRightSidebar" class="text-white font-bold">Fechar</button>
    <h2 class="mt-4 text-xl">Sidebar Direita</h2>
    <ul class="mt-4">
      <li><a href="#" class="block py-2">Link 1</a></li>
      <li><a href="#" class="block py-2">Link 2</a></li>
    </ul>
  </div>
</div>
